{% extends 'escape/exam/_baseexam.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/exam_bombe.css') }}"/>
   <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block meta %}
    <meta http-equiv="refresh" content="30;url={{ path('escape_exam', {'id' : game.id}) }}" />
{% endblock %}

{% block title %}{{ parent() }} - En cours{% endblock %}

{% block content %}
    {% set bombe = game.rechercheObjetScenario('bombe') %}
    {% set aide = game.rechercheObjetScenario('aide') %}

    <audio id="tictac" src={{ asset('exam/sons/tic.mp3') }}></audio>
    <audio id="alarm" src={{ asset('exam/sons/alarm.mp3') }}></audio>

    <div class="indices">

        {% for keyFlash, messagesFlash in app.flashes %}
            {% for messageFlash in messagesFlash %}
                {% if keyFlash == 'messageIndice' %}
                    <div class="alert alert-danger indice">{{ messageFlash }}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        

        {% for indice in aide.indices %}
            {% if game.rechercheCommutEtape(indice.Etape).Etat == false %}
                <div class="alert alert-success indice">{{ indice.descriptif }}</div>
            {% endif %}
        {% endfor %}
        
    </div>
    <div class="back1">
        &nbsp;   
    </div>
    <div id="bombe" class="bombe">
        <div class="zone1">&nbsp;
            <div class="icones">&nbsp;coucou
                {% if bombe.pince %}
                    <img src="{{ asset('exam/images/bombe/pince.jpg') }}"/>
                {% endif %}
            </div>
        </div>
        <div class="zone1b">
            <div class="zone2">
                &nbsp; 
            </div>
            <div class="zone3">
                <div class="zone4" id="compte_a_rebours">88:88</div>
                <div class="zone5">
                    &nbsp;
                </div>
            </div> 
            <div class="zone6">
                <div class="formscan">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>           
    </div>
    <div class="back2">&nbsp;</div>
    
    <div class="back3">
        {% if bombe.boulonsRestantes > 0 %}
            {# couvercle de bombe #}
            <div class="back5">
                <div class="boulon1 {% if bombe.boulonsRestantes > 0 %}boulonOn{% endif %}">&nbsp;</div>
                <div class="boulon2 {% if bombe.boulonsRestantes > 1 %}boulonOn{% endif %}">&nbsp;</div>
                <div class="boulon3 {% if bombe.boulonsRestantes > 2 %}boulonOn{% endif %}">&nbsp;</div>
                <div class="boulon4 {% if bombe.boulonsRestantes > 3 %}boulonOn{% endif %}">&nbsp;</div>
            </div>
        {% else %}
            {# plus de couvercle de bombe #}
            <div class="back4">
                <div class="fils">
                    {% for fil in bombe.fils %}
                        {% if bombe.pince == 1 %}
                            {% if fil.etat == 1 %}
                                <a class="fil_autorise" href="{{ path('escape_exam_cut', {'id' : game.id, 'cutId' : fil.id}) }}"><div class="fil fil_{{ fil.couleur }}"></div></a>
                            {% else %}
                                <div class="fil_coupe fil_coupe_{{ fil.couleur }}"></div>
                            {% endif %}
                        {% else %}
                            <a class="fil_interdit"><div class="fil fil_{{ fil.couleur }}">&nbsp;</div></a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    
    <script type="text/javascript">
        
        //Affichage de l'horloge + relance de la fonction tic tac toute les secondes
        function minuteur(duree, minutes, secondes)
        {
            //Récupération du div de la bombe
            var minuteur = document.getElementById("compte_a_rebours");

            //Mise en forme du minuteur
            minutes = (minutes < 10 ? "0" : "") + minutes;
            secondes = (secondes < 10 ? "0" : "") + secondes;

            //Affichage du minuteur
            minuteur.innerHTML = minutes + ":" + secondes;
            setTimeout("tictac("+(duree-1)+");", 1000);
        }    

        //Calcul les minutes et secondes
        function tictac(duree)
        {
            //Bruit du tic tac
            var tictac = document.getElementById('tictac');
                tictac.play();
            //Calcul du temps
            var minutes = Math.trunc(duree / 60);
            var secondes = Math.trunc(duree - (minutes * 60));
            if(minutes <= 0 && secondes <= 0)
            {
                window.location.reload();
            }
            //Si il reste moins de 5 minutes on déclanche l'alarme
            if(minutes <= 5)
            {
                var alarm = document.getElementById('alarm');
                alarm.play();   
            }
            minuteur(duree, minutes, secondes);
        } 

        //Lancement du script
        window.onload = function() 
        {
            //Met le focus sur le lecteur de code barre
            document.getElementById('scan_scan').focus();
            document.getElementById('scan_scan').value = '';

            //Débute le compte à rebour
            tictac({{ dureebombe }});          
        } 
    
    </script>

{% endblock %}