{% extends 'escape_admin/_base.html.twig' %}

{% block title %}{{ parent() }} / Accueil{% endblock %}

{% block content %}
    <br/><h1 class="h3">Liste des parties :</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Scénario</th>
                <th scope="col">Nombre de joueurs</th>
                <th scope="col">Joueurs</th>
                <th scope="col">Etat</th>
                <th scope="col">Dans la salle</th>
                <th scope="col">Surveiller</th>
                <th scope="col">Editer</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <th>{{ game.id }}</th>
                    <td>{{ game.scenario.titre }}</td>
                    <td>{{ game.joueurs | length }}</td>
                    <td>
                        {% for joueur in game.joueurs %}
                            {{ joueur.prenom }}
                        {% endfor %}
                    </td>
                    <td scope="col">
                        {% if game.etatCommut('FinGame') == true %}
                            <i class="far fa-calendar-times"></i> Fini
                        {% else %}
                            {% if game.etatCommut('StartGame') == true %}
                                <i class="far fa-calendar-check"></i> En cours
                            {% else %}
                                <i class="far fa-calendar"></i> En attente
                            {% endif %}
                        {% endif %}
                    </td>
                    {% if game.scenario.titre == "L'exam !" %}
                        <td><a href="{{ path('escape_exam', {'id' : game.id}) }}"><i class="fas fa-door-open"></i></a></td>
                        <td><a href="{{ path('escape_admin_control', {'id' : game.id}) }}"><i class="fas fa-eye"></i></a></td>
                        <td><a href="{{ path('escape_admin_exam_edit', {'id' : game.id}) }}"><i class="fas fa-cogs"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
